    <footer class="page-footer grey darken-3">
          <div class="footer-copyright">
            <div class="container center-align">
            © 2018 Wazzup 
            <p >Guarded by <span class="footer__description">Jackie Chan</span></p>
            </div>
          </div>
        </footer>