<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">StoryBooks</a>
            <a href="#" data-target="slide-out" class=" sidenav-trigger button-collapse show-on-large left">
                <i class="fa fa-bars"></i>
            </a>
            {{!-- RIGHT NAV --}}
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li>
                    <a href="/dashboard">Welcome {{user.firstName}}</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fab fa-accessible-icon"></i> Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    {{!-- SIDE MENU --}}
    <ul class="sidenav" id="slide-out">
        {{#if user}} 
        {{else}}
        <li>
            <a class="btn red darketn-1" href="/auth/google">
                <i class="fab fa-google left"></i>Login with Google</a>
        </li>
        {{/if}}
        <li><a href="/stories"><i class="fa fa-book"></i>Public Stories</a></li>
        <li class="divider"></li>
        {{#if user}}
        <li><a href="/dashboard"><i class="fa fa-cog"></i>Dashboard</a></li>
        <li><a href="/stories/user/{{user.id}}"><i class="fa fa-user"></i>My stories</a></li>
        <li><a href="/auth/logout"><i class="fab fa-accessible-icon"></i>Logout</a></li>
        {{/if}}
    </ul>
</nav>