<h1 class="welcome__h1">Welcome, stranger</h1>
<p  class="welcome__description">This is simple crud app </p>
{{#if user}}
{{else}}
<a class="btn red darketn-1" href="/auth/google"><i class="fab fa-google left"></i>Login with Google</a>
{{/if}}
 {{#unless user}} {{> _welcome-hands}} {{/unless }}
     <script src="hands.js"></script>